archive/**
NaturalDocs/**
!NaturalDocs/Comments.txt
!NaturalDocs/Languages.txt
!NaturalDocs/Project.txt
AddinFiles/Docs/**
!AddinFiles/Docs/Docs.txt
TestAddinHome/**
/Tests/Results/**
*.jmpaddin
*.zip