#Natural docs working files and other build documentation
NaturalDocs/**
!NaturalDocs/Comments.txt
!NaturalDocs/Languages.txt
!NaturalDocs/Project.txt
AddinFiles/Docs/**
!AddinFiles/Docs/Docs.txt

# Build/test config files
build/buildConfig.local.ps1
Tests/testConfig.local.jsl

# Build temp files
/Tests/Results/**
AddinFilesTempForBuild/
build/.last_addin
temp-*

# Any packaged files
archive/**
*.jmpaddin
*.zip
*.bak