#Natural docs working files and other build documentation
NaturalDocs/**
!NaturalDocs/Comments.txt
!NaturalDocs/Languages.txt
!NaturalDocs/Project.txt
AddinFiles/Docs/**
!AddinFiles/Docs/Docs.txt

# Build temp files
/Tests/Results/**
AddinFilesTempForBuild/**
build/buildConfig.local.ps1
AddinFilesTempForBuild/
build/.last_addin
temp-loadaddin.jsl
temp-buildtzdata.jsl

# Any packaged files
archive/**
*.jmpaddin
*.zip
*.bak